


* {
  margin: 1px;
}

html {
  background-image: url("../media/ary.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
}

body {
  /* display: block; */
  font-size:30px;
  text-align:center;
  margin: 5px;
}

#container {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 550px;
  margin: auto;
  position: absolute;
  /* background-image: url("media/bgform.jpg"); */
  /* background-size: cover; */
}
