@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');



* {
  margin: 1px;
}

html {
  background-image: url("../media/ary.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
}

body {
  /* display: block; */
  font-size:26px;
  text-align:center;
  margin: 5px;
}

#container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 550px;
  margin: auto;
  position: absolute;
  /* background-image: url("media/bgform.jpg"); */
  /* background-size: cover; */
}

.intro {
  color: black;
  width: 650px;
  height: 400px;
  padding: 20px;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(216, 211, 211, 0.2), 0 6px 20px 0 rgba(194, 181, 181, 0.19);
  position: relative;
  border: 1px solid rgb(192, 202, 201);
  border-bottom: turquoise;
  border-right: turquoise;
}



h2{
  background-image: url("../media/flag.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.5em;
  font-family: 'Courgette', cursive;
}

#form {
  color: aliceblue;
  width: 400px;
  height: 530px;
  padding: 10px;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  border: 1px solid rgb(37,33,41);
  margin-left: 80%;
  margin-top: 15%;
}

#main {
  padding: 20px;
  height: 400px;
}

#main > p {
  text-align: left;
  color: black;
  margin-left:8%;
}

label {
  /* margin-left: 0px; */
  display: block;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 50%;
  padding: 10px;
  border-radius: 0.4em;
}

select {
  cursor: pointer;
}

output {
  background: aliceblue;
  color:  darkgreen;
  border: 2px solid rgb(106, 132, 139);
  padding: 20px;
  border-radius: 0.2em;
}

button {
  display: block;
  margin-left: 30%;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background: #555705;
  cursor: pointer;
  border-radius: 0.2em;
}

button:hover {
  animation: shake 1s ;
  transform: translate3d(0,0,0);
}

span {
  color: rgb(6, 63, 6);
  font-size: x-large;
  text-decoration: underline;
}

@keyframes shake {
  10%,90% {
    transform: translate3d(-1px, 0, 0) rotate(0deg);
  }
  20%,80% {
    transform: translate3d(1px,0,0) rotate(3deg);
  }
  30%,50%,70% {
    transform: translate3d(-1px,0,0) rotate(-3deg);
  }
  40%,60% {
    transform: translate3d(1px,0,0) rotate(-3deg);
  }
}

