


* {
  margin: 1px;
}

html {
  background-image: url("../media/ary.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
}

body {
  /* display: block; */
  font-size:26px;
  text-align:center;
  margin: 5px;
}

#container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 1000px;
  height: 550px;
  margin: auto;
  position: absolute;
  /* background-image: url("media/bgform.jpg"); */
  /* background-size: cover; */
}

.intro {
  color: black;
  width: 650px;
  height: 400px;
  padding: 20px;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(216, 211, 211, 0.2), 0 6px 20px 0 rgba(194, 181, 181, 0.19);
  position: relative;
  border: 1px solid rgb(192, 202, 201);
  border-bottom: turquoise;
  border-right: turquoise;
}


h2{
  background-image: url("../media/flag.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}

#form {
  color: aliceblue;
  width: 400px;
  height: 500px;
  padding: 10px;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  border: 1px solid rgb(37,33,41);
  margin-left: 80%;
  margin-top: 20%;
}

#main {
  padding: 20px;
  height: 400px;
}

#main > p {
  text-align: left;
  color: black;
  margin-left:8%;
}

label {
  /* margin-left: 0px; */
  display: block;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
}

input[type="number"] {
  width: 50%;
  padding: 10px;
  border-radius: 0.4em;
}

select {
  cursor: pointer;
}

output {
  background: aliceblue;
  color:  rgb(209, 209, 209);
  border: 2px solid rgb(106, 132, 139);
  padding: 20px;
  border-radius: 0.2em;
}
